{% extends 'base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Mon Profil</strong>
            </div>

            <div class="panel-body">
                <label>Nom de compte :</label>
                <div class="well well-sm">{{ user.username }}</div>
                
                <label>Adresse e-mail :</label>
                <div class="well well-sm">{{ user.email }}</div>      
            </div>
        </div>
    </div>

{% endblock %}