{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Page de première connection</strong>
                    </div>
                    
                    <div class="panel-body">
                        <a class="btn btn-primary" href="logout">
                            <i class="glyphicon glyphicon-log-out"></i> Logout
                        </a>
                        <a class="btn btn-success" href="first">
                            <i class="glyphicon glyphicon-log-out"></i> Finish Configuration (test only)
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}