{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Connexion</strong>
                    </div>
                    
                    <div class="panel-body">
                        <form action="{{ path("fos_user_security_check") }}" method="post">
                            {% if error %}
                                <div class="alert alert-danger">
                                    <strong>{{ error.messageKey|trans(error.messageData, 'security') }}</strong>
                                </div>
                            {% endif %}
                            
                            <div class="form-group">
                                <label for="username">Nom d'utilisateur</label>
                                <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" />
                            </div>
                            
                            <div class="form-group">
                                <label for="password">Mot de passe</label>
                                <input type="password" id="password" class="form-control" name="_password" />
                            </div>
                            
                            <div class="form-group">
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                <label for="remember_me">Se souvenir de moi</label>
                            </div>

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <button type="submit" class="btn colorTheme">
                                <i class="glyphicon glyphicon-log-in"></i> Connection
                            </button>
                        </form>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Pas de compte</strong>
                    </div>
                    
                    <div class="panel-body">
                        <a class="btn colorTheme" href="register">
                            <i class="glyphicon glyphicon-pencil"></i> Créer un compte
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}